@font-face {
  font-family: "Catcus Grotesk";
  src: url("/font/Catcus-Grotesk.woff2");
}

@font-face {
  font-family: "Redaction 10";
  src: url("/font/Redaction10-Italic.woff2");
}

html {
  color: #1a1a1a;
  background-color: #ffffff;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-family: "Catcus Grotesk", sans-serif;
  font-variant-numeric: slashed-zero;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "ss16" on;
  font-size: calc(12px + (15 - 12) * ((100vw - 576px) / (2560 - 576)));
  cursor: crosshair;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: none;
}

::selection {
  color: #c0b3eb;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  color: #1a1a1a;
  text-decoration: none;
}

a:visited {
  color: #1a1a1a;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

figure {
  margin: 0;
}

.container {
  width: 100%;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1.5rem;
}

.redaction {
  font-family: "Redaction 10", serif;
  font-style: italic;
  font-weight: 500;
}

a:hover {
  color: #c0b3eb;
}

table {
  width: auto;
  border-collapse: collapse;
}

tbody {
  vertical-align: baseline;
}

td {
  padding-right: 2em;
}


/*--------
Responsive
----------*/
@media (max-width: 767px) {
  /*--------
  Global
  ----------*/
  html {
    margin-left: 2%;
    margin-right: 2%;
    overflow-x: hidden !important;
  }
}
